body {
    padding: 50px;
    font: normal normal 16px/24px "Open Sans",sans-serif;
    background-color:#182f59;
    color:white;
  }

  a {
    color:#ecc33d;
  }

  #event{
    text-align:center;
  }